<Files "config.ini">
Order Allow,Deny
Deny from all
</Files>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin *
</IfModule>
RewriteEngine On

RedirectMatch "^/home$" "https://ecranked.com"
RedirectMatch "^/$" "/home"


# RewriteRule ^about$ /about.html [PT]

# RewriteRule ^about$ /about.html [PT]

# RewriteRule ^home$ /index.php [PT]
RewriteRule ^docs$ /apidocs.php [PT]

# RewriteRule ^takedown$ /takedown.html [PT]
# RewriteRule ^user/([^\/]*)$ user_page.php?username=$1 [PT]

RewriteRule ^replay/([^\/]*)/download$ api/get_replay.php?session_id=$1 [PT]
RewriteRule ^replay/([^\/]*)/trydownload$ api/get_replay.php?session_id=$1&test=true [PT]
# RewriteRule ^replay/([^\/\.]*)$ replay_page.php?session_id=$1 [PT]
RewriteRule ^replay/([^\/\.]*).json$ api/get_skim.php?session_id=$1 [PT]

# RewriteRule ^user/([^\/]*)/stats$ user_page.php?username=$1 [PT]
# RewriteRule ^user/([^\/]*)/not_found$ user_not_found.php?username=$1 [PT]
RewriteRule ^user/([^\/]*)/stats.json /api/get_stats.py?username=$1 [PT]

RewriteRule ^pubs$ api/pub_count.py [PT]


# v1 API
RewriteRule ^api/v1/user/@all$ api/v1/get_all_usernames.php

AddHandler cgi-script .cgi .pl .asp .py .php

