Header set Access-Control-Allow-Origin *
<Files "config.ini">
Order Allow,Deny
Deny from all
</Files>


RewriteEngine On

RedirectMatch "^/home$" "http://ecranked.com"
RedirectMatch "^/user$" "/docs"
RedirectMatch "^/users$" "/docs"
RedirectMatch "^/$" "/docs"
RedirectMatch "^/replay/([^\/\.]*)$" "/docs"
RedirectMatch "^/user/([^\/]*)/$" "/docs"


# v0 API
RewriteRule ^docs$ /apidocs.php [PT]


RewriteRule ^replay/([^\/]*)/download$ api/get_replay.php?session_id=$1 [PT]
RewriteRule ^replay/([^\/]*)/trydownload$ api/get_replay.php?session_id=$1&test=true [PT]
RewriteRule ^replay/([^\/\.]*).json$ api/get_skim.php?session_id=$1 [PT]

RewriteRule ^user/([^\/]*)/stats.json$ api/get_stats.py?username=$1 [PT]

RewriteRule ^pubs$ api/pub_count.py [PT]


# v1 API
RewriteRule ^api/v1/user/@all$ api/v1/get_all_usernames.php

AddHandler cgi-script .cgi .pl .asp .py .php

